---
layout: default
permalink: /gallery/

imagePath: /images/gallery/brownies/
---

{% assign images = site.data.gallery.brownies %}

<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Gallery</h1>

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					{% for image in images %}
						<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index | minus: 1 }}" class="{% if forloop.index == 1 %}active{% endif %}"></li>
					{% endfor %}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					{% for image in images %}
						<div class="item {% if forloop.index == 1 %}active{% endif %}">
							<div style="background:url('{{ page.imagePath }}{{ image.image }}') center center; background-size:cover;" class="slider-size">
								<div class="carousel-caption">
									{% if image.title %}<h3>{{ image.title }}</h3>{% endif %}
									{% if image.subTitle %}<h3>{{ image.subTitle }}</h3>{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>

				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>